* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0d1110;
  color: white;
}

h1 {
  text-align: center;
  margin: 20px auto;
  padding-top: 100px;
}

#container-main {
  margin: 30px;
}

/*Search*/
#search {
  display: flex;
  margin: 20px auto;
  width: 40%;
  height: 40px;
  gap: 10px;
}
#search input {
  border: 1px solid #8b949e;
  border-radius: 20px;
  background-color: rgba(23, 31, 29, 0.1);
  opacity: 1;
  width: 80%;
  height: 40px;
  padding: 0 15px;
  color: #0b949e;
}
input:focus {
  outline: none;
  color: #0b949e;
}
#search button {
  border: none;
  width: 30%;
  max-width: 70px;
  background: #0b949e url(./assets/search-icon.svg) no-repeat center/30%;
  border-radius: 9999px;
}
.open {
  border: 1px solid #8b949e;
  border-radius: 20px;
  height: 5vh;
  width: 70%;
  margin: 0px auto;
}
/*Profile*/
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  border: 1px solid #8b949e;
  border-radius: 20px;
  height: 80vh;
  width: 70%;
  margin: 20px auto;
}

.profile .user-img img {
  border: 1px solid #8b949e ;
  width: 30vh;
  border-radius: 50%;
  margin-top: 20px;
}

.profile span {
  font-size: 1rem;
  color: #8b949e;
  padding-left: 15%;
}

/*Projects and followers*/
.projects {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 70px auto;
}
.projects a {
  text-decoration: none;
  text-align: center;
  color: #0b949e;
 
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

