* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(255, 191, 137);
  background: linear-gradient(90deg, rgba(255, 191, 137, 1) 15%, rgba(255, 137, 151, 1) 50%, rgba(225, 137, 255, 1) 95%);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  color: white;
}


@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

h1 {
  text-align: center;
  padding-top: 100px;
}

#container-main {
  margin: 30px;
}

/*Search*/
#search {
  display: flex;
  margin: 20px auto;
  width: 40%;
  height: 40px;
  gap: 10px;
  justify-content: space-between;
}

#search input {
  border: none;
  border-radius: 20px;
  background-color: rgba(23, 31, 29, 0.1);
  opacity: 1;
  width: 90%;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}

#search button {
  border: none;
  width: 30%;
  max-width: 70px;
  background: rgba(150, 150, 150, 0.2) url(./assets/search-icon.svg) no-repeat center/30%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

.open {
  border-radius: 20px;
  height: 5vh;
  width: 70%;
  margin: 0px auto;
}

/*Profile*/
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  border-radius: 20px;
  height: 80vh;
  width: 70%;
  margin: 20px auto;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  background: rgba(150, 150, 150, 0.2);
}

.profile .user-img img {
  width: 30vh;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}

.profile .user-img img:hover {
  width: 35vh;
}


.profile span {
  font-size: 1rem;
  color: #8b949e;
  padding-left: 15%;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/*Projects and followers*/
.projects {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 70px auto;
}

.projects a {
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  transition: 400ms;
}

.profile a:hover {
  font-size: 24px;
  color: #fff;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 20px;
}